doctype html
html(lang="en")
    head
        title Document
        style 
         include ../static/button.css
    body 
        form(action='/register' method="post" class="container")
            <input type="text" name="name" placeholder="Enter your name ">
            <input type="text" name="email" placeholder="Enter your email ">
            <input type="password" name="password" placeholder="Enter your Password">

            br
            button Sign up
